<!-- your-form.component.html -->
<div class="form-container p-4 mx-auto" style="max-width: 600px;">
    <h2 class="form-title mb-4">Personal Information </h2>

    <div class="p-card p-p-4">

        <div class="card flex justify-content-center mb-4">
            <span class="p-float-label">
                <input pInputText id="firstName" />
                <label htmlFor="firstName">First Name</label>
            </span>
        </div>

        <div class="card flex justify-content-center mb-4">
            <span class="p-float-label">
                <input pInputText id="lastName" />
                <label htmlFor="lastName">Last Name</label>
            </span>
        </div>

        <div class="card flex justify-content-center mb-4">
            <span class="p-float-label">
                <input pInputText id="email" />
                <label htmlFor="email">Email</label>
            </span>
        </div>

        <div class="card flex justify-content-center mb-4">
            <span class="p-float-label">
                <input pInputText id="Number" />
                <label htmlFor="Number">Number</label>
            </span>
        </div>

        <div class="card flex justify-content-center mb-4">
            <span class="p-float-label">
                <input pInputText id="city" />
                <label htmlFor="city">City</label>
            </span>
        </div>

        <div class="card flex justify-content-center mb-4">
            <span class="p-float-label">
                <input pInputText id="street" />
                <label htmlFor="street">Street</label>
            </span>
        </div>
   
        <div class="card flex justify-content-center mb-4">
            <div class="p-field p-d-flex  p-jc-center mb-4">
            <p-button label="Cancel" styleClass="p-button-secondary mr-2" routerLink="../dashboard"></p-button>
            <p-button label="Save" styleClass="p-button-success"></p-button>
        </div>
        </div>
      
    </div>
</div>
